 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Ignore migration files
!**/migrations/__init__.py

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# PyCharm
.idea/
*.iml

# Virtual environments
.env
.env.*

# Coverage & Test
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
*.cover

# Static & media (if generated automatically)
staticfiles/
media/

# Other temporary files
*.tmp
*.swp
.DS_Store
Thumbs.db

# Git itself ignores (optional — use with caution)
# .gitignore
db.json
db2.json
healthy_food/food_selection/static/food_selection/images/

