# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Ignorer les fichiers de migration
**/migrations/
!**/migrations/__init__.py

# Environnements virtuels
env/
venv/
ENV/
.venv/
.ENV/

# PyCharm
.idea/
*.iml

# Fichiers d'environnement
.env
.env.*

# Coverage & Test
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
*.cover

# Static & media (si générés automatiquement)
staticfiles/
media/

# Autres fichiers temporaires
*.tmp
*.swp
.DS_Store
Thumbs.db

# Git ignore lui-même (optionnel — à utiliser avec précaution)
# .gitignore
db.json
db2.json
**/images/
