{% extends 'food_selection/base.html' %}
{% block content %}
<!-- legal notices for the website -->
     <div class="d-flex flex-column justify-content-center align-items-center text-white" style="min-height: 80vh;">
        <h2 class="mb-4">Mentions légales</h2>

        <!-- Paragraphe 1 -->
        <p class="text-justify">
            I love cheese, especially babybel dolcelatte. Mozzarella hard cheese roquefort croque monsieur halloumi stilton dolcelatte port-salut. Cheeseburger airedale cheese strings swiss rubber cheese fondue jarlsberg cheesy feet. Manchego bocconcini cow the big cheese caerphilly cheesy feet stilton fromage frais. Lancashire parmesan bavarian bergkase airedale paneer cauliflower cheese lancashire macaroni cheese. Pepper jack emmental brie airedale st. agur blue cheese parmesan cheese and biscuits cheese and wine. Emmental chalk and cheese pepper jack cheese triangles cottage cheese mozzarella who moved my cheese mascarpone. Cheeseburger fromage cut the cheese cheese strings red leicester mozzarella boursin.
        </p>

        <!-- Paragraphe 2 -->
        <p class="text-justify">
            Cream cheese paneer cheddar. Paneer melted cheese edam swiss cottage cheese smelly cheese swiss pepper jack. Taleggio danish fontina blue castello fondue gouda who moved my cheese squirty cheese fondue. Manchego chalk and cheese ricotta lancashire roquefort babybel melted cheese jarlsberg. Manchego red leicester stilton rubber cheese cheese on toast fromage fromage cheesy feet. St. agur blue cheese feta mascarpone bavarian bergkase pecorino cheesy grin danish fontina when the cheese comes out everybody's happy. Cauliflower cheese.
        </p>

        <!-- Paragraphe 3 -->
        <p class="text-justify">
            Taleggio brie chalk and cheese. Airedale feta goat airedale mozzarella cauliflower cheese port-salut red leicester. Chalk and cheese cheese triangles chalk and cheese cheese slices lancashire paneer lancashire everyone loves. Boursin cream cheese feta pecorino port-salut brie rubber cheese caerphilly. Rubber cheese monterey jack emmental gouda cauliflower cheese say cheese feta pepper jack. Parmesan hard cheese cheese triangles lancashire cow goat cheese and wine.
        </p>
     </div>
{% endblock %}
