{% extends 'food_selection/base.html' %}
{% load static %}

{% block content %}
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-5 ">
            <div class="row g-0">
                {% if product_found %}
                    {% if required_product %}
                        <div class="mt-5 gx-5 gx-lg-3 h-100 align-items-center justify-content-center text-center">
                            <h2>[{{ name }}]</h2>
                            <div>
                                <img class="img-fluid" src="{% static 'food_selection/images/image_product/'|add:required_product.product_id|add:'.jpg' %}" alt="...">
                                {{ required_product.nutriscore }}
                            </div>
                            <p>Vous pouvez remplacer cet aliment par :</p>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="container-fluid p-0 ">
                    <ul class="row">
                        {% for general_product in page_obj %}
                            <li class="col-sm-6"><img class="img-fluid"
                                                      src="{% static 'food_selection/images/image_product/'|add:general_product.product_id|add:'.jpg' %}" alt="...">
                                {% if product_found %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in general_products.product_id %}
                                            {{ field.label_tag }} {{ field }}
                                            {% if field.errors %}
                                                <small class="">{{ field.errors|striptags }}</small>
                                            {% endif %}
                                        {% endfor %}
                                        <input type="submit" value="{{ general_product.product_id }}" >
        <!--                                            <button type="submit">-->
        <!--                                                <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon">-->
        <!--                                            </button>-->
                                    </form>
                                {% else %}
                                    {{ general_product.product_id }}
                                {% endif %}
                                {{ general_product.name }}
                                {{ general_product.nutriscore }}
                                <ul>
                                    {% for category in general_product.categories.all %}
                                        <li>{{ category.name }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if 'product' in request.GET %}
                    <div class="text-center">
                        <span class="step-links">
                            {% with selected_product='product='|add:request.GET.product %}
                                {% if page_obj.has_previous %}
                                    <a href="?{{ selected_product }}&page=1">&laquo;</a>
                                    <a href="?{{ selected_product }}&page={{ page_obj.previous_page_number }}">&lt;</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ page_obj.number }} à {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?{{ selected_product }}&page={{ page_obj.next_page_number }}">&gt;</a>
                                    <a href="?{{ selected_product }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            {% endwith %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
