{% extends 'food_selection/base.html' %}
{% load static %}

{% block content %}
<!-- Display Products-->
    <div id="portfolio">
        <div class="container-fluid p-5 ">
            <div class="row g-0">
                <!--display specific to products searched for-->
                {% if product_found %}
                    {% if required_product %}
                        <div class="text-center">
                            <h2>{{ required_product.name }}</h2>
                            <div class="position-relative d-inline-block">
                                <img style="width: 280px; height: 450px;"
                                     src="{% static 'food_selection/images/image_product/'|add:required_product.product_id|add:'.jpg' %}"
                                     alt="Image du produit : {{ required_product.name }}" />

                                <img class="position-absolute top-0 end-0" style="width: 80px; height: 80px;"
                                     src="{% static 'food_selection/images/image_nutriscore/'|add:required_product.nutriscore|add:'.png' %}"
                                     alt="Nutriscore du produit : {{ required_product.name }}" />
                            </div>

                            <p>Nom du produit : {{ required_product.name }}</p>
                            <ul>
                                {% for category in required_product.categories.all %}
                                    <li><p>Catégorie du produit : {{ category.name }}</p></li>
                                {% endfor %}
                            </ul>
                            <p>Vous pouvez remplacer cet aliment par :</p>
                        </div>
                    {% endif %}
                {% endif %}
                <!--common display for searched and favourite products-->
                <div class="container-fluid p-0 ">
                    <ul class="row">
                        {% for general_product in page_obj %}
                            <li class="col-sm-4"><div class="position-relative d-inline-block"><img style="width: 250px; height: 450px;"
                                                      src="{% static 'food_selection/images/image_product/'|add:general_product.product_id|add:'.jpg' %}" alt="image produit de substitution" />
                                                                                <img class="position-absolute top-0 end-0" style="width: 80px; height: 80px;"
                                                                                     src="{% static 'food_selection/images/image_nutriscore/'|add:general_product.nutriscore|add:'.png' %}" alt="nutriscore du produit de substitution" />
                                                </div>
                                    <!--form to register the products you are looking for with the reference-->
                                    {% if not general_product.saved %}
                                        <form method="post" action="{% url 'food_selection:save_products' %}">
                                            {% csrf_token %}
                                            {% for field in general_products.product_id %}
                                                {{ field.label_tag }} {{ field }}
                                                {% if field.errors %}
                                                    <small class="">{{ field.errors|striptags }}</small>
                                                {% endif %}
                                            {% endfor %}
                                            {{ general_product.form.as_p }}
                                            <input type="submit" >
                                        </form>
                                        <p>IDentifiant de Produit = {{ general_product.product_id }}</p>
                                    {% else %}
                                        <p>IDentifiant de Produit Sauvegardé = {{ general_product.product_id }}</p>
                                    {% endif %}
                                    <p>Nom de Produit = {{ general_product.name }}</p>
                                        <ul>
                                            {% for category in general_product.categories.all %}
                                                <li><p>Catégorie Produit = {{ category.name }}</p></li>
                                            {% endfor %}
                                        </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if 'product' in request.GET %}
                    <div class="text-center">
                        <span class="step-links">
                            {% with selected_product='product='|add:request.GET.product %}
                                {% if page_obj.has_previous %}
                                    <a href="?{{ selected_product }}&page=1">&laquo;</a>
                                    <a href="?{{ selected_product }}&page={{ page_obj.previous_page_number }}">&lt;</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ page_obj.number }} à {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?{{ selected_product }}&page={{ page_obj.next_page_number }}">&gt;</a>
                                    <a href="?{{ selected_product }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            {% endwith %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
