
{% extends 'food_selection/base.html' %}
{% load static %}
{% block title %} Produit enregistré {% endblock %}
{% block content %}
     <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h2>[{{ nom }}]</h2>
                    <p>Vous pouvez remplacer cet aliment par :</p>
                </div>
                {% for nb in range %}
                    <div class="col-lg-4 col-sm-6">
                        <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/'|add:nb|add:'.jpg' %}" alt="..." >
                        nom aliment {{ nb }}
                        <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde
                    </div>
                {% endfor %}
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />-->
<!--                    nom aliment 2-->
<!--                    <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />-->
<!--                    nom aliment 3-->
<!--                    <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />-->
<!--                    nom aliment 4-->
<!--                    <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />-->
<!--                    nom aliment 5-->
<!--                    <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6">-->
<!--                    <img class="img-fluid" src="{% static 'food_selection/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />-->
<!--                    nom aliment 6-->
<!--                    <img src="{% static 'food_selection/images/sauver.png' %}" alt="save icon"> Sauvegarde-->
<!--                </div>-->
            </div>
        </div>
    </div>
{% endblock %}
