{% extends 'food_selection/base.html' %}
{% load static %}
{% block content %}
    <div id="portfolio">
        <div class="container-fluid p-5 ">
            <div class="row g-0">
                <!--display specific to products searched for-->
                <!--common display for searched and favourite products-->
                <div class="container-fluid p-0 ">
                    <ul class="row">
                        {% for general_product in page_obj %}
                            <li class="col-sm-4">
                                <div class="position-relative d-inline-block mt-5">
                                    <img style="width: 250px; height: 450px;"
                                         src="{% static 'food_selection/images/image_product/'|add:general_product.product_id|add:'.jpg' %}"
                                         alt="image produit de substitution" />
                                    <img class="position-absolute top-0 end-0" style="width: 80px; height: 80px;"
                                     src="{% static 'food_selection/images/image_nutriscore/'|add:general_product.nutriscore|add:'.png' %}"
                                     alt="Nutriscore du produit : {{ required_product.name }}" />
                                </div>


                                <!--form to register the products you are looking for with the reference-->
                                <p>IDentifiant de Produit Sauvegardé = {{ general_product.product_id }}</p>
                                <p>Nom du Produit Sauvegardé = {{ general_product.name }}</p>
                                <ul>
                                    {% for category in general_product.categories.all %}
                                        <li>{{ category.name }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="text-center">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} à {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}