{% extends 'food_selection/base.html' %}
{% block content %}
    <div class="form-container text-center text-white">
        <form method="post" class="bg-transparent">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.POST.next|default:request.GET.next }}">
            <div class="mt-3">
                <button type="submit">Se connecter</button>
            </div>
            <p class="mt-3">Vous n'êtes pas encore membre ? <a href="{% url 'authentication:signup' %}">Alors, Inscrivez-vous maintenant !</a></p>
        </form>
    </div>
{% endblock content %}
